
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>

  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }} 
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  
  <style>
.modal {
  display:absolute; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  #addButton {
    background-color: green;
    color:white;
  }
  #addButton:hover {
    background-color:blue;
  }
  #noAddButton {
    background-color:grey;
    
  }
  #noAddButton:active {
    background-color:white;
  }
  </style>

  <label for="Quantity">quantity </label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1"> 

  {% assign liquidQt = quantity.value %}
  {% assign liquidId = current_variant.id %}
  {% assign liquidCi = cart.item_count %}
  
  {% assign liquidCurrInv = current_variant.inventory_quantity %}
{% if current_variant.inventory_quantity == 0 %}
    <button id='noAddButton'>Add to cart</button>
{% else %}
    <button id='addButton' >
      Add to cart 
      </button>

{% endif %}
{% if current_variant.inventory_quantity < 5%}
<p>Low stock</p>
{% endif %}
<div>{{ product.description }}</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>There are currently {{current_variant.inventory_quantity}} of this product available</p>
    This is currently in your Cart
            {% for item in cart.items %}
          <tr>
            <td>
            <div>{{cart.item}}</div>

            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}  
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }} 
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
  </div>

</div>

{% section "coding-test" %}
<!-- The Modal -->

<script>
window.onload = function(){ 

// Get the modal
const modal = document.getElementById("myModal");



// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];



// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }

}
}
document.getElementById('addButton').addEventListener('click', ()=> {
  let id = '{{liquidId}}'
    let quantity = '{{liquidQt}}'
    let cartIndex = '{{liquidCi}}'
    cartIndex = parseInt(cartIndex) +1
    let formData = {
    'items': [{
      'id': id,
      'quantity': quantity,
      'properties':{
        'cartIndex': cartIndex
      }
      }]
    };
    fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    })})
</script>
