
<<<<<<< HEAD
<<<<<<< HEAD
=======
{% section 
  
  %}
>>>>>>> f36b05fb5be5d8c23ad72e2532adb76efc939ba4
=======
>>>>>>> 7d53de4780fd5aa4625d027cdbe8cb1c5c0071ae
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>

  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }} 
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  
  <style>
  #addButton {
    background-color: green;
    color:white;
  }
  #addButton:hover {
    background-color:blue;
  }
  #noAddButton {
    background-color:grey;
    
  }
  #noAddButton:active {
    background-color:white;
  }
  </style>

  <label for="Quantity">quantity </label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1"> 

  {% assign liquidQt = quantity.value %}
  {% assign liquidId = current_variant.id %}
  {% assign liquidCi = cart.item_count %}
  
  {% assign liquidCurrInv = current_variant.inventory_quantity %}
{% if current_variant.inventory_quantity == 0 %}
    <button id='noAddButton'>Add to cart</button>
{% else %}
    <button id='addButton' >
      Add to cart 
      </button>

{% endif %}
{% if current_variant.inventory_quantity < 5%}
<p>Low stock</p>
{% endif %}
<div>{{ product.description }}</div>
<<<<<<< HEAD
<div id="modal"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
    <!-- Modal content -->
</div>
 
<!-- Trigger to open Modal -->
<a href="https://github.com/marcelodolza/iziModal" class="trigger">Modal</a>
{% section "coding-test" %}


=======
{% section "coding-test" %}
>>>>>>> 5562d549c2236f10ccd9daf2011567b4846732f6
<script>
$("#modal").iziModal();
$(document).on('click', '.trigger', function (event) {
    event.preventDefault();
    // $('#modal').iziModal('setZindex', 99999);
    // $('#modal').iziModal('open', { zindex: 99999 });
    $('#modal').iziModal('open');
});


document.getElementById('addButton').addEventListener('click', ()=> {
  let id = '{{liquidId}}'
    let quantity = '{{liquidQt}}'
    let cartIndex = '{{liquidCi}}'
    cartIndex = parseInt(cartIndex) +1
    let formData = {
    'items': [{
      'id': id,
      'quantity': quantity,
      'properties':{
        'cartIndex': cartIndex
      }
      }]
    };
    fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
    .then(response => {
      return response.json();
    })
    .catch((error) => {
      console.error('Error:', error);
    })})
</script>
